html, body {
  font-size: 18px;
}

                          /*HEADER SECTION*/
header {
  display: flex;
  background-color: black;
  justify-content: center;
}

div.heading {
  display: flex;
  background-color: black;
  width: 960px;
}

div.heading img {
  height: 1.5rem;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0.5rem;
  margin-right: 1rem;

}
div.heading h2 {
  display: flex;
  font-size: 1rem;
  color: white;
  margin: 0.66rem 0;
}
                      /*MAIN BANNER SECTION*/
div.mainbanner {
  display: flex;
  height: 25rem;
  background-image: url(../../Resources/Images/moto.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: center;
}

div.titles {
  display: block;
  width: 960px;
  margin-top: 9rem;
}
div.titles h2 {
  display: block;
  font-family: Helvetica;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  padding-top: 2rem;
  padding-bottom: 0;
  padding-left: 3rem;
  background-color: black;
  width: 20rem;

}

div.titles h1 {
  display: block;
  font-family: Helvetica;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  padding-top: 0.25rem;
  padding-bottom: 2rem;
  padding-left: 3rem;
  background-color: black;
  width: 20rem;
}

                      /*NAVEGATION BAR*/
nav {
  display: flex;
  justify-content: center;
  font-family: Helvetica;
  font-size: 1rem;
  color: white;
  background-color: firebrick;
  height: 2.5rem;
}
ul {
  display: flex;
  width: 960px;
  justify-content: space-between;
}
li {
  margin-top: 0.75rem;
}

ul.mobilemenu {
  display: none;
}

                      /*CONTAINER SECTION*/
div.container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;

}
/*Row of images of Container section*/
div.products {
  display: flex;
  width: 960px;
  justify-content: space-between;
  margin-top: 3rem;
  font-family: Helvetica;
  font-size: 1rem;
}
div.pen {
  width: 30%;
  height: 15rem;
  overflow: hidden;
  border: 4px solid;
}
div.pen img {
  display: block;
  height: 9rem;
  width: auto;
  margin: 2rem auto;

}
div.pen h3 {
  width: 100%;
  height: 2rem;
  text-align: center;
  padding-top: 0.5rem;
  color: white;
  background-color: black;
}

div.watch {
  width: 30%;
  height: 15rem;
  overflow: hidden;
  border: 4px solid;
}
div.watch img {
  display: block;
  height: 9rem;
  width: auto;
  margin: 2rem auto;
  }
  div.watch h3 {
    width: 100%;
    height: 2rem;
    text-align: center;
    padding-top: 0.5rem;
    color: white;
    background-color: black;
  }

  div.glasses {
    width: 30%;
    height: 15rem;
    overflow: hidden;
    border: 4px solid;
  }
  div.glasses img {
    display: block;
    max-width: 62.5%;
    height: auto;
    margin: 75px auto;
  }
  div.glasses h3 {
    width: 100%;
    height: 2rem;
    text-align: center;
    padding-top: 0.5rem;
    margin-top: 0.5rem;
    color: white;
    background-color: black;
  }

/*Contact and Location*/
div.contact {
  display: flex;
  width: 960px;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 4rem;
  font-family: Helvetica;
  font-size: 1rem;
}
div.location {
  width: 35%;
  height: 4rem;
}
div.location h3 {
  max-width: 100%;
  padding-left: 2rem;
  padding-right: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;
  background-color: black;
}
div.location p {
  padding-top: 0.25rem;
}
div.hours {
  width: 35%;
  height: 4rem;
}
div.hours h3 {
  max-width: 100%;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;
  background-color: black;
}
div.hours p {
  padding-top: 0.25rem;
}

                          /*FOOTER*/
footer {
  display: flex;
  background-color: black;
  justify-content: center;
  height: 5rem;
  border: 1px solid;
}
footer h3{
  display: block;
  background-color: black;
  width: 960px;
  font-family: Helvetica;
  font-size: 1rem;
  color: white;
  text-align: left;
  padding-top: 2rem;
}
/*RESEIZING CODE*/
@media only screen and (max-width: 1024px) {
  ul {
    display: none;
  }
  ul.mobilemenu {
    display: block;
    text-align: center;
  }
  div.pen {
    width: 47%;
  }
  div.watch {
    width: 47%;
  }
  div.glasses {
    display: none;
  }
}
@media only screen and (max-width: 470px) {
  div.mainbanner {
    height: 15rem;
  }
  div.titles {
    margin-top: 10rem;
  }
  div.titles h2 {
    font-size: 0.77rem;
    padding-top: 1rem;
    padding-left: 2rem;
    width: 100%;
  }

  div.titles h1 {
    font-size: 1rem;
    padding-left: 2rem;
    width: 100%;
  }
  div.products {
    width: 960px;
    justify-content: center;
  }

  div.pen {
    width: 90%;
  }

  div.watch {
    display: none;
  }
  div.contact {
    justify-content: center;
    width: 90%;
    flex-direction: column;
}
div.location {
  width: 100%;
}

div.hours {
  width: 100%;
  margin-top: 0.5rem;
}
footer h3 {
  text-align: center;
}
}
